.arfacts-section
{
    direction: rtl;
    padding-top: 20px;
    padding-right: 50px;
    width: 75%;
}
.skills-box {
    padding: 30px;
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30PX;
}
/* 
.fun-facts {
    padding: 30px;
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30PX;
    margin-top: 20px;
    color: #fff;
} */

.fun-facts i {
    color: #0e1824;
    margin-bottom: 15px;
    margin-right: 0;
}

.fun-facts i:hover {
    color: #0e1824;
}

.fun-facts p {
    font-weight: bold;
    color: #0e1824;
}

p.number {
    font-style: italic;
    color: #0e1824;
}

/*Media*/
.fun-facts .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fun-facts .container {
    padding: 0;
}

.fun-facts .container:before,
.fun-facts .row:before,
.fun-facts .row:after,
.fun-facts .container:after {
    display: table;
    content: " ";
}

.col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-9,
.col-lg-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.fun-facts .container:after,
.row:after {
    clear: both;
}

@media only screen and (max-width: 767px) {
    .md-hidden {
        display: block;
        width: 48px;
    }

    .xs-hidden {
        display: none;
    }

}

@media (max-width: 991px) {
    /* #right_to_left .dropdown-menu li.first-list {
        transform: translateX(-15%);
    } */
}

@media (min-width: 1200px) {
    .fun-facts .container {
        width: 1170px !important;
    }

    .col-lg-3 {
        width: 25%;
        float: left;
    }
}

@media (min-width: 992px) {
    .fun-facts .container {
        width: 970px;
    }

    .col-md-9 {
        width: 75%;
        float: left;
    }

    /* #right_to_left .col-md-9 {
        float: right;
    } */

    .arfacts-section .col-md-3 {
        width: 25%;
        float: right;
    }

    /* #right_to_left .col-md-3 {
        float: right;
    } */
}