/*about-section*/
.about-section .hire-me {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
    background-color: #0e1824;
    color: #FFF;
    font-weight: bold;
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about-section .hire-me span:first-of-type i{
    margin-right: 30px;
    font-size: 60px;
    float: left;
}
.about-section .hire-me i.fa.fa-file-image-o {
    float: left;
    font-size: 50px;
    margin-right: 15px;
}
.about-section .hire-me span:last-of-type {
    background-color: #fff;
    color: black;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 12px 20px;
    position: relative;
    top: -15px;
    font-weight: normal;
    text-align: center;
    float: right;
    cursor: pointer;
}

/*media*/
@media (max-width: 992px) 
{
    .about-section .hire-me {
        padding: 30px;
    }
    .about-section h1 i {
        margin-right: 10px;
    }
    .about-section .hire-me span:first-of-type {
        display: block;
        margin-bottom: 30px;
    }
    .about-section .hire-me span:first-of-type i{
        margin-right: 30px;
        font-size: 40px;
    }
    .about-section .hire-me i.fa.fa-file-image-o {
        font-size: 30px;
        display: block;
        float: unset;
        margin-bottom: 20px;
    }
    .about-section .hire-me i.fa.fa-file-image-o {
        position: relative;
        top: 8px;
    }
    .about-section .hire-me span:last-of-type {
        padding: 10px;
        float: unset;
        display: block;
    }
}